$textfont: 'Open Sans', sans-serif;
$headfont: 'Russo One', sans-serif;

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/* -------------------------------------------------
   --                Navigation Bar               --
   ------------------------------------------------*/

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    height: 3rem;
    margin-top: .2rem;
    background-color: chartreuse;


    h3 {
        align-self: center;
        height: fit-content;
        width: 20%;
        margin: 0;
        padding-left: .5em;
        display: inline;
        width: fit-content;
        font-family: $headfont;
    }

    .navbar-ul  {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
        font-family: $textfont;
    }

    .navbar-ul > li > a {
        text-decoration: none;
        color: black;
    }

    button {
        align-self: center;
        justify-self: end;
        height: 38px;
        width: 115px;
        background-color: #FFFFFF;
        border-radius: 0.3em;
        margin-right: .5em;
        padding: 0.5em;
        font-family: $textfont;
    }
}
/* -------------------------------------------------
   --      Main Section of Landing Page           --
   ------------------------------------------------*/
   
main {
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin: .5rem 0 1rem 0;

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
        font-family: $headfont;
    }
    
    p{
        font-family: $textfont;
    }


    button {
        margin: 1em;
        background-color: black;
        color: #FFFFFF;
        border-radius: 0.3em;
        margin-right: .5em;
        width: 280px;
        height: 3em;
        font-family: $textfont;
    }
}

/* -------------------------------------------------
   --                About Me Main                --
   ------------------------------------------------*/

#main-about-container {
    display: flex;
    flex-direction: row;
    
    .about-container {
        width:25em;
        padding-right: 1em;
        margin-right: 3em;
        padding-left: 2em;
        background-color: #ffffff;

        h2 {
            text-align: center;
            font-family: $headfont;
            margin-top: 1em;
        }

        p {
            word-wrap: break-word;
           } 
    }
}

/* -------------------------------------------------
   --                Projects Main                --
   ------------------------------------------------*/
#project-main{
    height: 80rem;
    display: flex;
    flex-direction: column;

    .description-container {
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            font-family: $headfont;
        }

        button {
            align-self: center; 
        }
    }

    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 900px;

        .project-card {
            width: 21.875em;
            margin: 2em 2em 2em 2em;
            
        }
    }

}











/* -------------------------------------------------
   --                   Footer                    --
   ------------------------------------------------*/

footer {
    display: grid;
    grid-template-columns: 1fr 25% 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 10rem;
    background-color: brown;


    .footer-ul-1 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        list-style: none;
        font-family: $textfont;
    }

    h3 {
        justify-self: center;
        align-self: center;
        font-size: 1.5em;
        font-family: $headfont;
    }

    .footer-ul-2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        list-style: none;
        font-family: $textfont;
    }


    .footer-line {
        border:0 solid black;
        background-color: black;
        justify-self: center;
        align-self: center;
        height:1px;
        width:60em;
        margin: 0 8em 0 8em;
        grid-row: 2 ;
        grid-column: 1 /  4;
    }

    p {
        grid-column: 2;
        grid-row: 4;
        justify-self: center;
        align-self: center;
        font-family: $textfont;
    }
}

