$textfont: 'Open Sans', sans-serif;
$headfont: 'Russo One', sans-serif;

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

/* -------------------------------------------------
   --                Navigation Bar               --
   ------------------------------------------------*/
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    height: 3rem;
    margin-top: .2rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    h3 {
        align-self: center;
        height: fit-content;
        width: 20%;
        margin: 0;
        padding-left: .5em;
        display: inline;
        width: fit-content;
        font-family: $headfont;
    }
    .navbar-ul  {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
        font-family: $textfont;
    }
    .navbar-ul > li > a {
        text-decoration: none;
        color: black;
    }
    button {
        align-self: center;
        justify-self: end;
        height: 38px;
        width: 115px;
        background-color: #FFFFFF;
        border-radius: 0.3em;
        margin-right: .5em;
        padding: 0.5em;
        font-family: $textfont;
    }
}
/* -------------------------------------------------
   --      Main Section of Landing Page           --
   ------------------------------------------------*/

#background-image {
    background-image: url('../images/campsite.png');
    background-color: #053c21;
    background-size: cover;
    background-position: center;
}

main {
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;;
    margin: 0 0 1rem 0;
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        text-align: center;
        position: absolute;
        top: 5em;
        left: 5em;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 0;
        font-family: $headfont;
    }
    p{
        font-family: $textfont;
    }
    .style-button {
        margin: 1em;
        background-color: #df622c;
        border: none;
        color: #FFFFFF;
        border-radius: 0.3em;
        margin-right: .5em;
        width: 280px;
        height: 3em;
        font-family: $textfont;
    }
}


/* -------------------------------------------------
   --                About Me Main                --
   ------------------------------------------------*/

#main-about-container {
    display: flex;
    flex-direction: row;
    .about-container {
        width:25em;
        padding-right: 1em;
        margin-right: 3em;
        padding-left: 2em;
        background-color: #ffffff;
        h2 {
            text-align: center;
            font-family: $headfont;
            margin-top: 1em;
        }
        p {
            word-wrap: break-word;
        } 
    }
}

/* -------------------------------------------------
   --                Projects Main                --
   ------------------------------------------------*/
   
.card-main{
    height: 80rem;
    display: flex;
    flex-direction: column;
    .description-container {
        display: flex;
        flex-direction: column;
        h2 {
            text-align: center;
            font-family: $headfont;
        }
        button {
            align-self: center; 
        }
    }
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 900px;
        .project-card {
            width: 21.875em;
            margin: 2em 2em 2em 2em;
        }
    }
}

/* -------------------------------------------------
   --                Blog Main                --
   ------------------------------------------------*/

#card-main {
    height: 105rem;
}
/* -------------------------------------------------
   --                  CTA Main                   --
   ------------------------------------------------*/

.contact-description {
    display: flex;
    flex-direction: column;
    width: 45em;
    h1 {
        text-align: center;;
    }
    p {
        padding: 1em 5em 1em 5em;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        p{
            padding: 0;
            height: fit-content;
            align-self: center;
        }
    }
}

/* -------------------------------------------------
   --                   Footer                    --
   ------------------------------------------------*/

footer {
    display: grid;
    grid-template-columns: 1fr 25% 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    height: 8rem;
    .footer-ul-1 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 0 0 5em;
        margin: 0;
        list-style: none;
        font-family: $textfont;
    }
    .social-media-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;
        .fa {
            padding:.2em;
            font-size: 1.5em;
            width: 1.5em;
            text-align: center;
            text-decoration: none;
        }
        .fa:hover {
            opacity: 0.7;
        }
        .fa-twitter {
            background: #55ACEE;
            color: white;
        }
        .fa-linkedin {
            background: #007bb5;
            color: white;
        }
        .fa-github {
            background: #000000;
            color: #ffffff;
        }
    }
    .footer-ul-2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 5em 0 0;
        margin: 0;
        list-style: none;
        font-family: $textfont;
    }
    .footer-line {
        border:0 solid black;
        background-color: black;
        justify-self: center;
        align-self: center;
        height:1px;
        width:60em;
        margin: 0 8em 0 8em;
        grid-row: 2 ;
        grid-column: 1 /  4;
    }
    a {
        color: black;
        text-decoration: none;
    }
    p {
        grid-column: 2;
        grid-row: 3;
        justify-self: center;
        align-self: center;
        font-family: $textfont;
    }
}