:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
}

/* -------------------------------------------------
   --                Navigation Bar               --
   ------------------------------------------------*/
nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 3rem;
      grid-template-rows: 3rem;
  height: 3rem;
  margin-top: .2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

nav h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 20%;
  margin: 0;
  padding-left: .5em;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Russo One", sans-serif;
}

nav .navbar-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

nav .navbar-ul > li > a {
  text-decoration: none;
  color: black;
}

nav button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  height: 38px;
  width: 115px;
  background-color: #FFFFFF;
  border-radius: 0.3em;
  margin-right: .5em;
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
}

/* -------------------------------------------------
   --      Main Section of Landing Page           --
   ------------------------------------------------*/
body {
  background-image: url("../images/campsite.png");
  background-color: #053c21;
  background-size: cover;
  background-position: center;
}

main {
  height: 40rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1rem 0;
}

main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

main h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-family: "Russo One", sans-serif;
}

main p {
  font-family: "Open Sans", sans-serif;
}

main .style-button {
  margin: 1em;
  background-color: black;
  color: #FFFFFF;
  border-radius: 0.3em;
  margin-right: .5em;
  width: 280px;
  height: 3em;
  font-family: "Open Sans", sans-serif;
}

/* -------------------------------------------------
   --                About Me Main                --
   ------------------------------------------------*/
#main-about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main-about-container .about-container {
  width: 25em;
  padding-right: 1em;
  margin-right: 3em;
  padding-left: 2em;
  background-color: #ffffff;
}

#main-about-container .about-container h2 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  margin-top: 1em;
}

#main-about-container .about-container p {
  word-wrap: break-word;
}

/* -------------------------------------------------
   --                Projects Main                --
   ------------------------------------------------*/
.card-main {
  height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-main .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-main .description-container h2 {
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.card-main .description-container button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-main .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 900px;
}

.card-main .card-container .project-card {
  width: 21.875em;
  margin: 2em 2em 2em 2em;
}

/* -------------------------------------------------
   --                Blog Main                --
   ------------------------------------------------*/
#card-main {
  height: 105rem;
}

/* -------------------------------------------------
   --                  CTA Main                   --
   ------------------------------------------------*/
.contact-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45em;
}

.contact-description h1 {
  text-align: center;
}

.contact-description p {
  padding: 1em 5em 1em 5em;
}

.contact-description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-description div p {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* -------------------------------------------------
   --                   Footer                    --
   ------------------------------------------------*/
footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25% 1fr;
      grid-template-columns: 1fr 25% 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 10rem;
}

footer .footer-ul-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 0 0 5em;
  margin: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

footer h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5em;
  font-family: "Russo One", sans-serif;
  padding-top: .3em;
}

footer .footer-ul-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 5em 0 0;
  margin: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

footer .footer-line {
  border: 0 solid black;
  background-color: black;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 1px;
  width: 60em;
  margin: 0 8em 0 8em;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 /  4;
}

footer p {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=style.css.map */